# If developing locally, set this to true for the webpack server to use HTTPS
# export HTTPS=true

# Fill these values in before running the app
# HTTP/HTTPS ports to run the server on. Defaults are 8080 and 8443.
export CHATAPP_HTTP_PORT=
export CHATAPP_HTTPS_PORT=

# File path to TLS certificate and private key.
export CHATAPP_TLS_CERTIFICATE=
export CHATAPP_TLS_PRIVATE_KEY=

# Secret keys for generating encrypted cookies.
# The hash key should be 32 or 64 bytes, while the block key should be 16, 24, or 32 bytes.
export CHATAPP_COOKIE_SECRET_HASH_KEY=
export CHATAPP_COOKIE_SECRET_BLOCK_KEY=
